*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: 'Poppins', sans-serif;;
}
:root{
    --orange:#FF7010;
    --blue:#657485;
    --navfontsize:18px;
    --psize:17px;
    --h1size:50px;
    --white: #fff;
    --darkblue:#001935;
    --inputcolor:gray;
}
/* start header */
header{
    width: 100%;
    height: 70px;
    position: fixed;
    z-index: 5;
    background-color: var(--white);
}
.container{
    max-width: 1140px;
    margin:0 auto;
}
.container .img-nav{
    display: flex;
    justify-content: space-between;

}
.container .img-nav img{
    width: 130px;
    height: 80px;
    padding-top: 5px;
}
.container .img-nav nav{
    height: 70px;
    display: flex;
    align-items: center;
    color: var(--blue);
}
.container .img-nav ul{
    display: flex;
}
.container .img-nav ul li{
    margin-left: 20px;
}
.container .img-nav nav ul li a {
    font-size: var(--navfontsize);
    font-weight: bold;
    color: var(--blue);
}
.container .img-nav nav ul li a:hover{
    color: var(--orange);
}
.container .img-nav nav ul li .active{
    color: var(--orange);
}
/* end header */

/* start main */

/* start section entrance */
main #first-section{
    width: 100%;
    height: 100%;
    position: relative;
    background-image: url(../image/hero-bg.jpg);
    background-size:cover;
    background-position:center;

}
main #first-section .overlay{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color:var(--darkblue);
    opacity: 0.8;
}
main #first-section .first-section-content{
   position: relative;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   justify-content: center;
   padding: 100px 0;
}
main #first-section .first-section-content h1{
   font-size: var(--h1size);
   font-weight: 600;
   color:var(--white);
}
main #first-section .first-section-content p{
    font-size: var(--psize);
    color: var(--white);
    margin-bottom: 15px;
    width: 750px;
}
main #first-section .first-section-content p span{
    color: var(--orange);
}
main #first-section .first-section-content .input-group {
    margin: 20px 0;
}
main #first-section .first-section-content .input-group , .social-group ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
main #first-section .first-section-content .input-group select{
    color: var(--inputcolor) ;
    padding: 14px 20px;
    width: 275px;
    border-radius: 8px;
    border: 1px solid gray;
    font-size: 18px;
    margin-right: 10px;
    
}
main #first-section .first-section-content .social-group{
    margin: 20px 0;
}
main #first-section .first-section-content .social-group ul li a{
    color: var(--white);
}
main #first-section .first-section-content .social-group ul li{
    display: inline-block;
    width: 130px;
    height: 50px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}
.telegram{
    background-color:  rgba(34, 158, 217, 0.3);
}
.linkedin{
    background-color: rgba(0, 119, 181, 0.3);
}
.instagram{
    background-color:  linear-gradient(to right bottom, rgba(64, 93, 230, 0.3), rgba(88, 81, 216, 0.3), rgba(131, 58, 180, 0.3), rgba(193, 53, 132, 0.3), rgba(225, 48, 108, 0.3), rgba(253, 29, 29, 0.3), rgba(245, 96, 64, 0.3), rgba(247, 119, 55, 0.3), rgba(252, 175, 69, 0.3), rgba(255, 220, 128, 0.3), rgba(255, 255, 255, 0.3));
    background-image: linear-gradient(to right bottom, rgba(64, 93, 230, 0.3), rgba(88, 81, 216, 0.3), rgba(131, 58, 180, 0.3), rgba(193, 53, 132, 0.3), rgba(225, 48, 108, 0.3), rgba(253, 29, 29, 0.3), rgba(245, 96, 64, 0.3), rgba(247, 119, 55, 0.3), rgba(252, 175, 69, 0.3), rgba(255, 220, 128, 0.3), rgba(255, 255, 255, 0.3));
}
.facebook{
    background-color: rgba(59, 89, 152, 0.3);
}
main #first-section .first-section-content .input-group button{
    color: var(--white);
    width: 120px;
    background-color: var(--orange);
    border: none;
    border-radius: 8px;
    padding:  18px;
    text-align: center;
    cursor: pointer;
}
/* end section enrtance */

/* start list section */
main #list-section{
    width: 100%;
    height: 100vh;
    background-color: var(--white);
}

main #list-section .container .list-contant{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 200px;
}
main #list-section .container .list-contant .list-title{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    margin-bottom: 40px;
}
main #list-section .container .list-contant .list-title .title{
    display: flex;
    flex-direction: column;
}
main #list-section .container .list-contant .list-title .title h2{
    color: black;
    font-size: 40px;
    font-weight: bold;
}
main #list-section .container .list-contant .list-title .title .line{
    width: 55px;
    height: 4px;
    background-color: var(--orange);

}
main #list-section .container .list-contant .list-title  .btn{
    width: 160px;
    height: 60px;
    border: 1px solid var(--orange);
    background-color: var(--white);
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
main #list-section .container .list-contant .list-title  .btn:hover{
    background-color: var(--orange);   
}
main #list-section .container .list-contant .list-title  .btn a{
    color: var(--orange);
    font-weight: bold;
}
main #list-section .container .list-contant .list-title  .btn:hover a{
    color: var(--white);
}
main #list-section .container .list-contant .list{
    width: 100%;
    display: flex;
}
.list-contant .list .list-item{
    width: 33.3%;
}
main #list-section .container .list-contant .list .list-item ul{
    display: flex;
    flex-direction: column;
    padding-right:15px;
}
main #list-section .container .list-contant .list .list-item ul li a{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
    font-weight: bold;
}
.list-contant .list .list-item ul li{
   margin-bottom: 20px;
}
.list-contant .list  .list-border{
    border-right: 1px solid gray;
    border-left: 1px solid gray;
    padding-left:15px;
}
.list-contant .list .list-margin{
    padding-left: 15px;
}
.list-contant .list .list-item ul li a span {
    display: inline-block;
    width: 120px;
    height: 30px;
    background-color: #F6F6F6;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-radius:5px;
    padding-right: 10px;
}
.list-contant .list .list-item ul li:hover a p{
    color: var(--orange);
    transition: 1s;
}
.list-contant .list .list-item ul li:hover span{
    background-color: var(--orange);
    transition: 1s;
}
/* end list section */

/* start announce section */
#announce {
    width: 100%;
    height: auto;
    background-color: #f2ebeb;
}
#announce .announce-content{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 30px 0;
}
.announce-content .announce-title{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 40px;
}
.announce-title h2{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
}
.announce-title .title-line{
    width: 40px;
    height: 4px;
    background-color: var(--orange);
    margin-bottom: 10px;
}
.announce-title p{
    color: var(--darkblue);
    font-weight: bold;
    margin-bottom: 10px;
}
.announce-title  .tit-btn{
    width: 130px;
    height: 50px;
    background-color: var(--white);
    border: 1px solid var(--orange);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
.announce-title  .tit-btn:hover{
    background-color: var(--orange);
}
.announce-title  .tit-btn:hover a{
    color: var(--white);
}
.announce-title .tit-btn a{
    color: var(--orange);
    font-weight: bold;
}
.announce-content .announce-card{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.announce-content .announce-card .card-item{
    width: 24%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content:space-around;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgb(0 0 0 / 5%), 0 6px 6px rgb(0 0 0 / 10%);
    background-color: var(--white);
    height: 300px;
    padding-left: 10px;
    margin-bottom: 20px;
}
.announce-card .card-item span , i {
    color: var(--orange);
    font-weight: bold;
    margin-bottom: 10px;
}
.announce-card .card-item a {
    color: var(--darkblue);
    font-size: 20px;
    text-decoration: underline;
    font-weight: bold;
    margin-bottom: 10px;
}
.announce-card .card-item a:hover{
    color:var(--orange)
}
.announce-card .card-item p{
    color: gray;
    overflow: hidden;
    height: 50px;
    margin-bottom: 20px;
}
.announce-card .card-item  .company{
    color: var(--darkblue);
}
.announce-card .card-item .date {
    color: gray;
}

/* end announce section */


/*start useful-advise section */
#useful-advise {
    width: 100%;
    height: auto;
    background-color: var(--white);
}
#useful-advise .useful-advise{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 30px 0;
    
}
.useful-advise .advise-title{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 40px;
}
.advise-title h2{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
}
.advise-title .title-line{
    width: 40px;
    height: 4px;
    background-color: var(--orange);
    margin-bottom: 10px;
}
.advise-title p{
    color: var(--darkblue);
    font-weight: bold;
    margin-bottom: 10px;
}
.advise-card{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.advise-card .advise-card-item{
    width: 32%;
    margin-bottom: 20px;
    height: auto;
    background-color: var(--white);
    border-radius: 10px;
    box-shadow:  0 10px 20px rgb(0 0 0 / 5%), 0 6px 6px rgb(0 0 0 / 10%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.advise-card-item figure img{
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.advise-card-item figcaption .date{
    display: flex;
    width: 100%;   
}
.advise-card-item figcaption{
    padding: 20px;
}
.advise-card-item figcaption .date span{
    color: var(--darkblue);
    font-weight: bold;
    margin-right: 10px;
}
.advise-card-item figcaption a{
    color: var(--darkblue);
    font-weight: bold;
    text-decoration: underline;
    font-size: 20px;
}
.advise-card-item figcaption a:hover{
    color: var(--orange);
}
.advise-card-item figcaption p{
    color: var(--darkblue);
    font-weight: bold;
    margin-top: 20px;
}
/* end useful-advise section */

/* end main */


/* start footer */

footer{
    width: 100%;
    height: 150px;
    background-color: var(--darkblue);
}
.footer-content{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items:  flex-start;
    height: 150px;
    padding-top: 20px;
}
.footer-content p{
    color: var(--white);
}
/* end footer */